# # Compile artifacts
# *.axf
# *.bin
# *.lst

# # Prerequisites
# *.d

# # Object files
# *.o
# *.ko
# *.obj
# *.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
#*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



# IDE stuff
.vscode


# Default SDK files/directories
AM-BSD-EULA.txt
CMSIS
VERSION.txt
ambiq_ble
bootloader
devices
docs
makedefs
mcu
pack
third_party
#tools
utils
boards/apollo1_evb
boards/apollo2_blue_evb
boards/apollo2_evb
boards/apollo2_blue
boards/apollo3_evb

# Python cache for imported defines module
__pycache__
